@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */



html {
  /*-- Main font sizes --*/
  --title-size:      35px;
  --body-size:       18px;
  --code-size:       14px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     #0c0e15;
  --header-color:    #0c0e15;
  --body-color:      #0c0e15;
  --aside-color:     #0c0e15;
  --fig-cap-color:   #0c0e15;
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    "Orbitron";
  --mono-font:       "Chakra Petch";
  --body-font:       "Chakra Petch";
  --navbar-font:     "Orbitron";  /* websites + blogs only */
}

/*-- ARTICLE METADATA --*/
d-byline {
  --heading-size:    25px;
  --heading-color:   #0c0e15;
  --body-size:       16px;
  --body-color:      #0c0e15;
}

/*-- ARTICLE TABLE OF CONTENTS --*/
.d-contents {
  --heading-size:    18px;
  --contents-size:   13px;
}

/*-- ARTICLE APPENDIX --*/
d-appendix {
  --heading-size:    15px;
  --heading-color:   rgba(0, 0, 0, 0.65);
  --text-size:       0.8em;
  --text-color:      rgba(0, 0, 0, 0.5);
}

/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       20px;
  --text-color:       #0c0e15;
  --text-size:        20px;
  --hover-color:      white;
  --bkgd-color:       #a9cdeb;
}

.distill-site-footer {
  --text-color:       #0c0e15;
  --text-size:        15px;
  --hover-color:      white;
  --bkgd-color:       #a9cdeb;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

h1 {
  color: #0c0e15;
  font-size: 25px;
}

h2 {
  color: #0f111a;
  font-size: 20px;
}

h3 {
  color: #0f111a;
  font-size: 18px;
}

/*change buttons on homepage*/
.btn-outline-dark {
    background-color: transparent; 
    color: #0c0e15;
    border: 1px solid;
    border-color: #0c0e15;
}

.btn-outline-dark:hover {
    background-color:#a3cde5;
    border-color: #a3cde5;
    color: white;
}